<li>
    <a href="#" class="bg-body rounded-1 p-2 border rounded-3 focus-ring"
        @onclick:preventDefault="true"
        @onclick="@HandleClick">
        <BlazorIcon Icon="@(Icon?.GetRawConstantValue()?.ToString())"
                    Size="@Size"
                    IsFixedWidth/>
    </a>
</li>

@code {
    [Parameter]
    public FieldInfo? Icon { get; set; }

    [Parameter]
    public BlazorIconSize Size { get; set; }

    [Parameter]
    public EventCallback<FieldInfo> OnSelected { get; set; }

    private Task HandleClick() => OnSelected.InvokeAsync(Icon) ?? Task.CompletedTask;
}