<CascadingValue Value="@this">
    <AppPage>
        <Title>JxIcons</Title>
        <Brand>
            <span style="color: @ColorString;">Jx</span>
            <span class="text-body-emphasis">Icons</span>
        </Brand>
        <Controls>
            <AppControls/>
        </Controls>
        <Content>
            <AppList/>
        </Content>
    </AppPage>
    <AppModal>
        <Brand>
            <span style="color: @ColorString;">Jx</span>
            <span class="text-body-emphasis">Icons</span>
        </Brand>
    </AppModal>
</CascadingValue>