<CascadingValue Value="@this">
    <AppPage>
        <Title>BlazorIcon</Title>
        <Brand>
            <span class="text-accent">Blazor</span>
            <span class="text-body-emphasis">Icon</span>
        </Brand>
        <Controls>
            <AppControls/>
        </Controls>
        <Content>
            <AppList/>
        </Content>
    </AppPage>
    <AppModal>
        <Brand>
            <span class="text-accent">Blazor</span>
            <span class="text-body-emphasis">Icon</span>
        </Brand>
    </AppModal>
</CascadingValue>