@inject IJSRuntime Js
<div class="input-group">
    <input type="color" id="colorSelectorInput"
           class="form-control form-control-color"
           title="Choose your color"
           @bind="@AccentColor"
           @oninput="OnColorChange">
    <input id="colorInput" type="text"
           class="form-control"
           title="Enter your color"
           @bind="@AccentColor"
           @oninput="OnColorChange">
</div>
@code {

    private string AccentColor { get; set; } = "#ff6347";
    
    private async Task OnColorChange(ChangeEventArgs arg)
    {
        await Js.InvokeVoidAsync("window.setAccentColor", arg.Value);
    }

    protected override async Task OnInitializedAsync()
    { 
        AccentColor = await Js.InvokeAsync<string>("window.getAccentColor");
    }
}