@inherits AppComponentBase
<div class="d-flex flex-column flex-xxl-row gap-3">
    <div class="flex-shrink-0">
        <AppIconSizeControl/>
    </div>
    <div class="flex-shrink-1">
        <AppSearchControl/>
    </div>
    <div class="flex-shrink-0">
        <AppStyleSelectControl/>
    </div>
    <div class="flex-shrink-0">
        <AppColorSelectControl/>
    </div>
    <div class="flex-shrink-0">
        <AppThemeSelectControl/>
    </div>
</div>