@inherits AppComponentBase
<div class="d-flex flex-column flex-lg-row gap-3">
    <div class="flex-shrink-0">
        <AppSearchControl/>
    </div>
    <div class="flex-shrink-0">
        <AppColorSelectControl/>
    </div>
    <div class="flex-shrink-0">
        <AppStyleSelectControl/>
    </div>
    <div class="flex-shrink-0">
        <AppThemeSelectControl/>
    </div>
    
</div>