.tile {
    display: inline-block;
    transition: color ease-in-out 0.25s, transform ease-in-out 0.25s, box-shadow ease-in-out 0.25s;
    cursor: pointer;
    text-decoration: none;
    color: var(--bi-accent-color);
}

.tile:focus {
    box-shadow: var(--bs-focus-ring-x,0) var(--bs-focus-ring-y,0) var(--bs-focus-ring-blur,0) var(--bs-focus-ring-width) var(--bi-accent-color);
}

.tile-bounds:hover > .tile {
    transform: scale(2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5) !important;
}