@inherits AppComponentBase
<div class="row gy-3 justify-content-center">
    @if (!App.FilteredIcons.Any())
    {
        <div class="col">
            <div class="fs-3 bg-body p-4 shadow-sm rounded-4">
                @("Sorry, no icons to show! :(")
            </div>
        </div>
    }
    else
    {
        foreach (var icon in App.FilteredIcons)
        {
            <div class="tile-bounds col-auto">
                <a href="#" class="tile bg-body rounded-1 p-3 rounded-4 focus-ring" 
                   @onclick:preventDefault="true" @onclick="@(() => App.SelectIcon(icon))"
                   style="font-size: @($"{@App.IconSize}em");">
                   @if (App.SelectedStyleType == typeof(BootstrapIcons))
                   {
                       <BootstrapIcon Icon="@(icon.GetRawConstantValue()?.ToString())" />
                   }
                </a>
            </div>
        }
    }
</div>