.form-control:focus {
    border-color: var(--bi-accent-color);
    outline: 0;
    box-shadow: none;
}

.display-1 {
    color: var(--bi-accent-color);
}

.btn {
    --bs-btn-color: var(--bi-accent-color); 
    --bs-btn-hover-color: var(--bi-accent-color);
}