@inherits AppComponentBase
<PageTitle>@Title</PageTitle>
<div class="page bg-body-tertiary min-vh-100">
    <div class="sticky-top shadow-sm">
        <div class="page-bg position-absolute w-100 h-100 bg-body-tertiary bg-opacity-50 bg-blur"></div>
        <header class="navbar navbar-expand-xxl">
            <nav class="container-fluid px-5">
                <span class="navbar-brand fw-bolder fs-2">
                    @Brand
                </span>
                <button class="navbar-toggler p-2 fs-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#optionsOffcanvas" aria-controls="optionsOffcanvas" aria-label="Toggle navigation">
                    <BootstrapIcon Icon="@BootstrapIcons.List" />
                </button>
                <div id="optionsOffcanvas" class="offcanvas offcanvas-end h-100" tabindex="-1" aria-labelledby="optionsOffcanvasLabel">
                    <div class="offcanvas-header bg-body-tertiary shadow-sm">
                        <h5 class="offcanvas-title fs-2" id="optionsOffcanvasLabel">
                            @Brand
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#optionsOffcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body justify-content-xxl-end">
                        @Controls
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <main>
        <div class="container-fluid py-4 px-5">
            @Content
        </div>
    </main>
</div>

@code {
    [Parameter] public RenderFragment? Title { get; set; }
    [Parameter] public RenderFragment? Brand { get; set; }
    [Parameter] public RenderFragment? Controls { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
}