@inherits AppComponentBase
<div class="input-group">
    <span class="input-group-text fs-4">
        <BlazorIcon Icon="@BootstrapIcons.Search"/>
    </span>
    <input class="form-control"
           placeholder="Search"
           @bind="@App.SearchString"
           @oninput="App.OnSearchStringChange"/>
    <button class="btn border d-flex align-items-center fs-4" type="button"
            @onclick="App.ClearSearchString"
            disabled="@(string.IsNullOrWhiteSpace(App.SearchString))">
        <BlazorIcon Icon="@BootstrapIcons.ArrowCounterclockwise"/>
    </button>
</div>