@inherits AppComponentBase
<div class="input-group">
    <span class="input-group-text">
        @if (App.SelectedStyleType == typeof(BootstrapIcons))
        {
            <BootstrapIcon Icon="@BootstrapIcons.Bootstrap"/>
        }
    </span>
    <select id="typeInput"
            class="form-select"
            @bind="@App.SelectedStyleString"
            @oninput="App.OnSelectedStyleChange">
        @foreach (var value in App.Styles)
        {
            <option value="@value">@value</option>
        }
    </select>
</div>