<div class="input-group">
    <div class="input-group-text flex-shrink-0 fs-4">
        <BootstrapIcon Icon="@BootstrapIcons.NodeMinusFill"/>
    </div>
    <div class="input-group-text flex-grow-1">
        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </div>
    <div class="input-group-text flex-shrink-0 fs-4">
        <BootstrapIcon Icon="@BootstrapIcons.NodePlusFill"/>
    </div>
</div>