@inherits LayoutComponentBase
<Theme/>
<ThemeColor />
<div class="position-relative min-vh-100 d-flex flex-column bg-body-tertiary">
    <MainHeader />
    <main class="flex-grow-1">
        @Body
    </main>
    <MainFooter />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>