<footer class="bg-body-secondary py-4">
    <div class="container-xxl">
        <a class="text-decoration-none mb-2 text-body-emphasis fw-bolder" href="">Rd.BlazorIcon</a>
        <ul class="list-unstyled mb-0 text-muted small">
            <li>By: <a class="text-body-emphasis text-decoration-none" href="https://ramondev.com">Ramon DelValle</a></li>
            <li>Nuget Package Version:  <a class="text-body-emphasis text-decoration-none" href="https://www.nuget.org/packages/Rd.BlazorIcon">1.1.0</a></li>
            <li>License:  <a class="text-body-emphasis text-decoration-none" href="https://github.com/RDDelValle/Rd.BlazorIcon/blob/main/LICENSE">MIT</a></li>
            <li>Repository:  <a class="text-body-emphasis text-decoration-none" href="https://github.com/RDDelValle/Rd.BlazorIcon">Github</a></li>
        </ul>
    </div>
</footer>