@using Rd.BlazorIcon.FontAwesome
@using Rd.BlazorIcon.Material
<header class="navbar navbar-expand-lg bg-body shadow-sm sticky-sm-top">
    <nav class="container-xxl">
        <a class="navbar-brand fs-2" href="#">
            <BrandName />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mainNavigationOffcanvas" aria-controls="mainNavigationOffcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="mainNavigationOffcanvas" aria-labelledby="mainNavigationOffcanvasLabel">
            <div class="offcanvas-header shadow-sm">
                <h5 class="offcanvas-title fs-4" id="mainNavigationOffcanvasLabel">
                    <BrandName />
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 gap-2 align-items-lg-center">
                    <NavItemLink Href="demo" 
                                 Icon="@FontAwesomeIcons.Regular.CirclePlay"
                                 @onclick="@(() => CloseOffcanvas("#mainNavigationOffcanvas"))">
                        Demo
                    </NavItemLink>
                    <NavItemLink Href="Docs"
                                 Icon="@FontAwesomeIcons.Regular.FileCode"
                                 @onclick="@(() => CloseOffcanvas("#mainNavigationOffcanvas"))">
                        Docs
                    </NavItemLink>
                    <li class="nav-item d-lg-none">
                        <hr>
                    </li>
                    <li class="nav-item d-none d-lg-flex">
                        <span class="vr h-50 my-auto mx-3"></span>
                    </li>
                    <ThemeColorControl/>
                    <ThemeControl/>
                </ul>
            </div>
        </div>
    </nav>
</header>