@page "/Demo"
<PageTitle>Demo | Blazor Icon</PageTitle>
<div class="d-flex flex-column gap-4 py-4">
    <h1 class="visually-hidden">Blazor Icon Demo</h1>
    <div class="d-flex flex-column flex-md-row gap-3 p-3 border rounded bg-body">
        <DemoIconSetSelectControl />
        <DemoIconSetSearchControl />
        <DemoIconSetSizeControl />
    </div>
    <DemoList />
</div>
<DemoModal />
