<div class="docs-content mt-4">
    <h2>@Title</h2>
    <p>@Description</p>
</div>

@code {

    [Parameter] public RenderFragment? Title { get; set; }
    [Parameter] public RenderFragment? Description { get; set; }

}