:root {
    /*--bs-primary: #ff0000;*/
    --bi-theme-color: var(--bs-primary);
    --bi-theme-color-rgb: var(--bs-primary-rgb);
}

::selection {
    background: var(--bi-theme-color);
}


h1:focus {
    outline: none;
}