<PageTitle>Blazor Icon</PageTitle>
<div class="position-relative min-vh-100 d-flex flex-column bg-body-tertiary">
    <header class="bg-body sticky-sm-top">
        <div class="container-xxl pb-2">
            <nav class="navbar navbar-expand-xl pb-0">
                <h1 class="navbar-brand fw-bolder fs-2 mb-0 me-5">
                    <span class="text-accent">Blazor</span>
                    <span class="text-body-emphasis">Icon</span>
                </h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvas"
                     aria-labelledby="navbarOffcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title fw-bolder" id="navbarOffcanvasLabel">
                            <span class="text-accent">Blazor</span>
                            <span class="text-body-emphasis">Icon</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-3">
                            <li class="nav-item">
                                <DemoTypeSelectControl />
                            </li>
                            <li class="nav-item">
                                <DemoSearchControl />
                            </li>
                            <li class="nav-item">
                                <DemoSizeControl />
                            </li>
                            <li class="nav-item">
                                <DemoAccentColorControl />
                            </li>
                            <li class="nav-item">
                                <DemoThemeControl />
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="position-relative flex-grow-1 d-flex">
        <div class="container-xxl flex-grow-1 d-flex flex-nowrap gap-4">
            <main class="flex-grow-1 h-100 p-3">
                <DemoList />
            </main>
        </div>
    </div>
    <footer>

    </footer>
</div>
<DemoModal>
    <Brand>
        <span class="text-accent">Blazor</span>
        <span class="text-body-emphasis">Icon</span>
    </Brand>
</DemoModal>