<PageTitle>Blazor Icon</PageTitle>
<div class="bg-body-tertiary min-vh-100">
    <DemoNavbar />
    <div class="main">
        <div class="container-fluid">
            <DemoList />
        </div>
    </div>
</div>