<div class="navbar navbar-expand">
    <div class="container-fluid">
        <span class="navbar-brand fw-bolder fs-2">
            <span class="text-accent">Blazor</span>
            <span class="text-body-emphasis">Icon</span>
        </span>
        <div class="navbar-nav">
            @* <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li> *@
        </div>
    </div>
</div>