<div class="navbar navbar-expand sticky-top bg-body shadow-sm">
    <div class="container-fluid">
        <span class="navbar-brand fw-bolder fs-2">
            <span class="text-accent">Blazor</span>
            <span class="text-body-emphasis">Icon</span>
        </span>
        <div class="navbar-nav flex-grow-0">
            <DemoColorSelectControl />
            <DemoThemeSelectControl />
        </div>
    </div>
</div>